DEBUG=false
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/siat_salta
GOOGLE_MAPS_API_KEY=
SMN_BASE_URL=https://ws2.smn.gob.ar
INA_BASE_URL=https://alerta.ina.gov.ar
SENAMHI_BASE_URL=https://senamhi.gob.bo
PILCOMAYO_BASE_URL=https://www.pilcomayo.net
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_API_URL=http://localhost:8000
